.panelVisual {
    max-width: 900px;
    margin: 55px auto;
    background: rgba(3, 2, 15, 0.75);
    outline: 2px solid black
}
.panelText {
    max-width: 800px;
    margin: 55px auto;
    background: rgba(3, 2, 15, 0);
    padding: 25px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: rgb(206, 184, 177);
}
footer{
    text-align: center;
    color: rgba(206, 184, 177, 0.5);
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: rgb(206, 184, 177);
    font-family: Arial, Helvetica, sans-serif;
}
li {
    color: rgb(206, 184, 177);
    font-family: Arial, Helvetica, sans-serif;
}
a:link, a:visited {
    color: rgb(156, 138, 197);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
hr {
    margin: 25px;
}